*.swp
*.*~
build/
missing
install-sh
configure
config.h.in
Makefile.in
aclocal.m4
autom4te.cache/
compile
depcomp
*.o
*.gcov
*.gcda
*.gcno

# I want to ignore log files
*.log

# Core files should never be checked in
core

# ignore patches too, the code is either checked in or branch.
*.patch*

doc/*.html
doc/*.1
*.unc-backup~
*.unc-backup.md5~
