[submodule "libgwater"]
	path = subprojects/libgwater
	url = https://github.com/sardemff7/libgwater
[submodule "libnkutils"]
	path = subprojects/libnkutils
	url = https://github.com/sardemff7/libnkutils
