<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/print.css" media="print" />
{% if page.generator == "yes" %}
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/generator.css" media="screen" />
{% endif %}

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
      <header>
        <div class="inner">
            <img class="logo" src="images/rofi-large.png">
            <div class="title">
                <h1> {{ site.name }} </h1>
                <h2> {{ site.description}} </h2>
                <a href="{{ site.github-url }} " class="button"><small>View project on</small>GitHub</a>
            </div>
        </div>
      </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          {{ content }}

        </section>

        <aside id="sidebar">
        <h1>Pages</h1>
        {% assign sorted_pages = site.pages | sort:"path" %}
        {% for iter_page in sorted_pages %}
        {% if iter_page.url != page.url %}
        <h2 class="menuentry"><a href="{{ site.url }}{{ iter_page.url }}">{{ iter_page.title }}</a></h2>
        {% else %}
        <h2 class="menuentry">{{ iter_page.title }}</h2>
        {% endif %}
        {% endfor %} <!-- page -->
        <h2 class="menuentry"><a href="{{ site.url }}/manpage.html">Manpage</a></h2>
            <h1>Stable</h1>
          <a
href="https://github.com/DaveDavenport/rofi/releases/download/{{site.github-version-stable}}/rofi-{{ site.github-version-stable }}.tar.gz" class="button">
            <small>Download</small>
           stable.tar.gz
          </a>
          <a
href="https://github.com/DaveDavenport/rofi/releases/download/{{site.github-version-stable}}/rofi-{{ site.github-version-stable }}.tar.xz" class="button">
            <small>Download</small>
           stable.tar.xz
          </a>
<!-- to be enabled when we have a stable release. -->
          <h1>Snaphot</h1>
          <a href="{{ site.github-url }}/archive/{{ site.github-version-stable }}.zip" class="button">
            <small>Download</small>
            {{ site.github-version-stable }}.zip
          </a>
          <a href="{{ site.github-url }}/archive/{{ site.github-version-stable }}.tar.gz" class="button">
            <small>Download</small>
            {{ site.github-version-stable }}.tar.gz
          </a>
<!-- -->
          <h1>Development Snapshot</h1>
            <img src="https://travis-ci.org/DaveDavenport/rofi.svg?branch=master"/>
          <a href="{{ site.github-url }}/zipball/master" class="button">
            <small>Download</small>
            master.zip
          </a>
          <a href="{{ site.github-url }}/tarball/master" class="button">
            <small>Download</small>
            master.tar.gz
          </a>

          <p class="repo-owner"><a href="{{ site.github-url}}">{{ site.name }}</a> is maintained by
          <a href="{{ site.github-user-url }}">{{ site.github-user }}</a>.</p>

          <p class="repo-owner"><a href="https://github.com/pietromenna/jekyll-architect-theme">jekyll-architect-theme</a> is maintained by <a href="https://github.com/pietromenna">pietromenna</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using (a modified) Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
          </aside>
      </div>
    </div>

  </body>
</html>
